@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-de-fundo: #00030C;
    --branco-principal: #F5F5F5;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --fonte-principal: 'Inter';
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400px;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url(./assets/Background.png);
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}    

.container__botao {
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 1em;
    text-decoration: none;
    display: block;
    margin: 1em;
}

.container__botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}    

.container__caixa {
    margin: 0 6em;
}            

.secundario__imagem {
    width: 80%;
}

.secundario {
    margin: 0 10em; 
    align-items: center;
}

.container__secundario__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}    

.container__secundario__texto {
    color: var(--cinza-secundario);
}


.container__terciario__botao {
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    text-decoration: none;
    padding: 1em;
    border-radius: 8px;
    size: 16px;
    display: inline-block;
    margin-top: 1em;

}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    margin: 5em 0;
    list-style-type: none;
}

.lista__item {
    font-size: 32px;
}

.rodape {
    text-align: center;
}

.rodape__imagem {
    margin-bottom: 2%;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 1em;
}

.lista__link a{
    
    text-decoration: none;
    font-size: 1.1em;
    color: var(--cinza-secundario);
    
}

.rodape__texto {
    margin: 2% 6%;
    font-size: 1em;
    font-family: var(--fonte-principal);
    color: var(--cinza-secundario);
    font-weight: 400;
}

.lista__link:hover {
    background-color: var(--botao-azul);
    color: var(--cor-de-fundo);
}



